/* Stilul general al paginii */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


/* HEADER */

header {
    background-color: #333;
    color: white;
    padding: 25px;
    text-align: center;

    position: sticky;
    top:0;
    z-index: 3;
}


/* Link-urile din header */

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


/* Când trecem cu mouse-ul peste link */

header a:hover {
    text-decoration: underline;
}


/* CONȚINUTUL PRINCIPAL */

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}


/* Elementele cu class="card" */

.card {
    background-color: white;
    width: 300px;
    padding: 25px;
    border-radius: 10px;

    position : relative;
}

.card:hover{
    bottom: 20px;
}

.card-nou{
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: red;
    z-index : 2;
    position: absolute;
    top: 5px;
    right : 60px;
}

#card-pop{
    background-color: green;
    z-index: 1;
    left : 10px;
}


/* Elementul cu id="despre" */

#despre {
    color: #333;
}

/* LISTE */

ul,
ol {
    line-height: 1.8;
}


/* IMAGINE */

.image-section {
    text-align: center;
    padding: 30px;
}

.image-section img:hover {
    position: relative;
    top:30px;
}

/* TABEL */

.table-section {
    padding: 40px;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #333;
    padding: 12px 20px;
}

th {
    background-color: #333;
    color: white;
}


/* FOOTER */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
}